*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    font-family: 'Oxygen', sans-serif;
}
#Sosyal_Medya{
    background-color: black;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 200%;
    display: flex;
}
.logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
font{
    float: left;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}
#Sosyal_Medya>i{
    margin-right: 1%;
}
#Sosyal_Medya>i:hover{
    opacity: 0.8;
}
#Sosyal_Medya a i{
    width: 16%;
}
#container{
    width: 80%;
    margin: auto;
    height: auto;
}
#Cerceve{
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15) ;
    margin-bottom: 0.5%;
}
#Cerceve_resim{
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#ortala{
    position: relative;
    width: 56%;
    height: 22%;
    left: 43%;
    bottom: 65%;
    background-color: #04334d;
}
.mar{
    color: white; 
    font-size: 300%; 
    font-weight: bold; 
    font-family: 'Langar', cursive;
}
.hosrsm{
    position: relative;
    width: auto;
    height: auto;
}
section{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15) ;
    margin-top: 1%;
    overflow: auto;
}
nav{
    width: 20%;
    float: left;
    margin-top: 0.6%;
    height: auto;
}
.Menu {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.Acilir_Menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.Menu a{
    display: block;
    height: 5%;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 5%;
}
.Menu a:hover{
    background-color: grey;
}
.Menu li:hover .Acilir_Menu{
    display:block;
    max-height: 400px;
}
.Menu .Acilir_Menu a{
    background-color: white;
}
.Menu .Acilir_Menu a:hover{
    background-color:grey;
}
.Acilir_Menu{
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
i{
    margin-right: 5%;
    cursor: pointer;
}
main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}
main #vmarquee p{
    text-align: center; 
    font-size: 25px; 
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 0 auto;
    margin-top: 0.5%;
    position: sticky;
    width: 70%;
    padding-bottom: 40%;
    height: 0;
    background:white ;
    border: solid 3px grey; 
    border-radius: 5px;
}
.slider_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider_img img{
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3{
    display: none;
}
.pre, .nxt{
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 99;
    cursor: pointer;
}
.pre{
    left: 0;
}
.nxt{
    right: 0;
}
.nav{
    width: 100%;
    height: 5px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.dots{
    top:-5px ;
    width: 5px;
    height: 5px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: grey;
}
.slider_img{
    z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3{
    background: #04334d;
}
.Haber_Cerceve{
    font: normal 0.688em Arial; 
    border: solid 1px #ccc; 
    background: #fff; 
    border-radius: 3px;
    box-shadow: 1px 1px 3px #ccc;
    width: 33.5%;
    margin-left: auto;
    margin-right: 7%;
}
main .bosluk{
    display: none;
}
.Orta_Baslik{
    width: 100%;
    padding: 1.5%; 
    margin: 0; 
    background-color:#04334d; 
    height: auto; 
    border: 0; 
    border-bottom: solid 1px #ccc;
}
.span{
    color:#fff;
    font-family:'Times New Roman', Times, serif;
    font-size: 100%;
}
.İcerik{
    width: 60%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15) ;
    margin-bottom: 5%;
    margin-left: 20.5%;
}
.rsm{
    width: 100%;
    height: auto;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    transition: opacity 0.8;
}
.rsm:hover{
    opacity: 0.6;
}
h4{
    margin: 10px;
    color: dimgray;
}
.İcerik_Aciklama{
    margin: 10px;
    color: dimgray;
}
.btn:link{
    display: inline-block;
    width: 25%;
    height: auto;
    padding: 2% 3%;
    background-color: #0071ce;
    color: white;
    text-decoration: none;
    margin: 4%;
    border-radius: 10px;
}
.btn:hover{
    opacity: 0.8;
}
footer{ 
    position: relative;
    height: auto;
    width:100%;
    background-color: black;
    margin: auto;
    color:white; 
    float: left;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}
.footer_container{
    width: 80%;
    margin-left: 14%;
    margin-top: 2%;
    background-color: black;
}
#button1{
    margin-bottom: -1.5%; 
    border-radius: 15px; 
    width: 150px; 
    height: auto;
}
.kutu b{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}
.kutu{
    display: inline;
    height: 100%;
    color: white;
    width: 26%; 
    float: left;
}
#kt2{
    margin-left: 10%;
}
#kt3{
    margin-left: 10%;
}
.kutu ul {
    list-style-type:none;

    padding:0;
}
.kutu ul li {
    float:left;
    margin-bottom: 3%; 
    clear:left; 
    color:white; 
    padding: 0;
}
.kutu ul li a{
    float:left;
    color: white;
    font-size: 1em;
    text-decoration: none;
}
.kutu ul li a:hover{
    background-color:grey;
}
.kutu:last-child li {
    float:left;
    clear:none;
    margin-right: 2%;
}
.copyright{
    font-size: 0.75em;
    color: white;
    text-align: center;
    margin-top: 1.1%;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}
h3{
    text-align: left;
}
.Kisisel_Resim{
    width: 25%;
    height: 25%;
    float: left;
    border-radius: 10px;
    margin: 5px;
    margin-left: 1%;
    margin-right: 2%;
    transition: opacity 0.8s;
}
.Kisisel_Resim:hover{
    opacity: 0.6;
    cursor: pointer;
}
.Galeri_Resim{
    width: 25%;
    height: auto;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    margin: 10px;
    transition: all 0.6s;
}
.Galeri_Resim:hover{
    opacity: 1;
    border:5px solid white;
    cursor: pointer;
}
.Link{
    text-decoration: none;
    margin-left: 5%;
}
.Google_Maps{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    margin-left: 10px;
}
.S1{
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}
form{
    width: 49%;
    float: left;
    height: 500px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    margin-right: 10px;
}
.Satir_Sol{
    width: 25%;
    float: left;
    margin-top: 6px;
}
.Satir_Sag{
    width: 75%;
    float: left;
    margin-top: 6px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=text],input[type=email],input[type=date],input[type=tel],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.Satir:after{
    content: "";
    display: block;
    clear: both;
}
input[type=submit]{
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px; 
    float: right;
}
fieldset{
    border: none;
    display: flex;
}
.Adres{
    width: 49%;
    float: right;
    height: 500px;
    border: 1px solid #d8d8d8;
    padding: 5%;
}
h2{
    text-align: center;
}
.sp1{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 6px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 16px;
}
#marqueecontainer{
    position: relative;
    width: 35%;
    height: 550px;
    background-color: #04334d;
    overflow: hidden;
    border: 3px solid grey;
    border-radius: 2%;
    color:white;
    font-size:13px;
    float: left;
    margin-left: 7%;
}
#marqueecontainer h4{
    color: white;
    padding-left: 1%;
}
#marqueecontainer h4 a{
    color: white;
    text-decoration: none;
}
#marqueecontainer h4 a:hover{
    color: grey;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 0.1%;
    z-index: 99;
    font-size: 18px;
    border: none;
    padding: 1%;
    border-radius: 1px;
    cursor: pointer;
    background-color: #dbdbdb;
}

@media screen and (max-width:815px){
    #Sosyal_Medya{
        background-color: black;
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        font-size: 100%;
        display: flex;
    }
    .logo{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .Menu {
        width: 100%;
        height: 100%;
        font-size: 75%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
   
    #marqueecontainer{
        position: relative;
        width: 70%;
        height: 300px;
        background-color: #04334d;
        overflow: hidden;
        border: 3px solid grey;
        border-radius: 2%;
        color:white;
        font-size:13px;
        margin-left: 15%;
    }
    .Haber_Cerceve{
        font: normal 0.688em Arial; 
        border: solid 1px #ccc; 
        background: #fff; 
        border-radius: 3px;
        box-shadow: 1px 1px 3px #ccc;
        width: 70%;
        margin-left: 15%;
        margin-top: 20%;
    }
    .Haber_Cerceve iframe{
        width: 100%;
        height: 300px;
    }
    main {
        height: auto;
        width: 80%;
        padding: 10px;
    }
    main .bosluk{
        clear: both;
        display: block;
    }
}
@media screen and (max-width:455px){
    #Sosyal_Medya{
        background-color: black;
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        font-size: 70%;
        display: flex;
    }
    .logo{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    #marqueecontainer{
        position: relative;
        width: 60%;
        height: 400px;
        background-color: #04334d;
        overflow: hidden;
        border: 3px solid grey;
        border-radius: 2%;
        color:white;
        font-size:13px;
        margin-left: 20%;
    }
    .Haber_Cerceve{
        font: normal 0.688em Arial; 
        border: solid 1px #ccc; 
        background: #fff; 
        border-radius: 3px;
        box-shadow: 1px 1px 3px #ccc;
        width: 60%;
        margin-left: 20%;
        margin-top: 35%;
    }
    .Haber_Cerceve iframe{
        width: 100%;
        height: 400;
    }
    main {
        height: auto;
        width: 80%;
        padding: 10px;
    }
    main .bosluk{
        clear: both;
        display: block;
    }
}
@media screen and (max-width:330px){
    #Sosyal_Medya{
        background-color: black;
        color: white;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        font-size: 50%;
        display: flex;
    }
    .logo{
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    .Menu #a{
        display: none;
    }
    
}
@media screen and (max-width:670px){
    .kutu b{
        font-size: 1em;
        color: white;
        font-weight: bold;
    }
    .kutu ul li a{
        float:left;
        color: white;
        text-decoration: none;
    }
    .copyright{
        font-size: 0.65em;
        color: white;
        text-align: center;
        margin-top: 1.1%;
    }
    .kutu ul li {
        float:left;
        margin-bottom: 3%; 
        clear:left; 
        color:white; 
        padding: 0;
        font-size: 0.75em;
    }
}
@media screen and (max-width:570px){
    .kutu b{
        font-size: 0.90em;
        color: white;
        font-weight: bold;
    }
    .kutu ul li a{
        float:left;
        color: white;
        text-decoration: none;
    }
    .copyright{
        font-size: 0.60em;
        color: white;
        text-align: center;
        margin-top: 1.1%;
    }
    .kutu ul li {
        float:left;
        margin-bottom: 3%; 
        clear:left; 
        color:white; 
        padding: 0;
        font-size: 0.65em;
    }
    .span{
        color:#fff;
        font-family:'Times New Roman', Times, serif;
        font-size: 70%;
    }
    h1{
        text-align: center;
        background-color: black;
        font-size: 75%;
        color: white;
        height: 30px;
        line-height: 30px;
        margin: 0 10px;
        border-radius: 5px;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    }
  
    .Galeri_Resim{
        width: 15%;
        height: 80px;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        margin: 10px;
        transition: all 0.6s;
    }
}
@media screen and (max-width:450px){
    .kutu b{
        font-size: 0.80em;
        color: white;
        font-weight: bold;
    }
    .kutu ul li a{
        float:left;
        color: white;
        text-decoration: none;
    }
    .copyright{
        font-size: 0.50em;
        color: white;
        text-align: center;
        margin-top: 1.1%;
    }
    .kutu ul li {
        float:left;
        margin-bottom: 3%; 
        clear:left; 
        color:white; 
        padding: 0;
        font-size: 0.60em;
    }
}      
@media screen and (max-width:600px){
    .Menu {
        width: 100%;
        height: 100%;
        font-size: 60%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .Menu a{
        display: block;
        height: 4%;
        line-height: 40px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid #b4b4b4;
        padding-left: 5%;
    }
    #Cerceve{
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15) ;
        margin-bottom: 0.5%;
    }
    #Cerceve_resim{
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .mar{
        font-size: 200%;
    }
    
}      
@media screen and (max-width:490px){
    .Menu {
        width: 100%;
        height: 100%;
        font-size: 45%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .Menu a{
        display: block;
        height: 3%;
        line-height: 30px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid #b4b4b4;
        padding-left: 5%;
    }
    #Cerceve{
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15) ;
        margin-bottom: 0.5%;
    }
    #Cerceve_resim{
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .mar{
        font-size: 100%;
    }
    main #vmarquee p{
        text-align: center; 
        font-size: 12px; 
        font-family: 'Times New Roman', Times, serif;
    }
    #marqueecontainer{
        font-size: 8px;
    }
}   
@media screen and (max-width:385px){
    .Menu {
        width: 100%;
        height: 100%;
        font-size: 35%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .Menu a{
        display: block;
        height: 2%;
        line-height: 20px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid #b4b4b4;
        padding-left: 5%;
    }
    .span{
        color:#fff;
        font-family:'Times New Roman', Times, serif;
        font-size: 45%;
    }
}       
@media screen and (max-width:335px){
    .Menu {
        width: 100%;
        height: 100%;
        font-size: 20%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .Menu a{
        display: block;
        height: 1%;
        line-height: 10px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid #b4b4b4;
        padding-left: 5%;
    }
} 
@media screen and (max-width:1200px){
    .Galeri_Resim{
        width: 20%;
        height: auto;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        margin: 10px;
        transition: all 0.6s;
    }
    .S1{
        font-size: 50%;
    }
} 
@media screen and (max-width:750px){
    .Galeri_Resim{
        width: 20%;
        height: auto;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        margin: 10px;
        transition: all 0.6s;
    }
} 
@media screen and (max-width:450px){
    .Galeri_Resim{
        width: 32%;
        height: auto;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        margin: 10px;
        transition: all 0.6s;
    }
} 
@media screen and (max-width:350px){
    .Galeri_Resim{
        width: 30%;
        height: auto;
        border-radius: 5px;
        opacity: 0.8;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
        margin: 10px;
        transition: all 0.6s;
    }
} 
@media screen and (max-width:350px){
    .İcerik{
        width: 48%;
        display: block;
        margin-right: 25%;
        border-radius: 10px;
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15) ;
        margin-bottom: 5%;
    }
}
@media screen and (max-width:550px){
    #div{
        font-size: 55%;
    }
    #hso{
        font-size: 55%;
        padding-left: 4%;
        padding-right: 3%;
    }
    .İcerik{
        font-size: 55%;
    }
    .btn:link{
        width: auto;
    }
    main #indir{
        font-size: 55%;
    }
    #button1{
        width: 20%;
    }
    .Adres{
        font-size: 125%;
    }
    .sp1{
        font-size: 125%;
    }
}